{/*Formats the main page*/}

.App {
	background-color: #eee;
	height: 100vh;
	width: 100vw;
}

.search-bar-container {
	padding-top: 20vh;
	width: 48%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}